@media screen and (max-width:720px) {
    .sub-header{
      height: 50vh;
    }
    .sub-header-osho{
        height: 100vh;
    }
  }
@media (max-width:800px) {
  .header-msg h1{
    font-size: 60px;
  }
}

/* ------------------------- POrt NAv Starts --------------------------------    */

@media (max-width:800px){
    nav{
      padding: 10% 5%;
      background: transparent;
      height: 50px;
      
    }
    nav .logo img{
      width: 25px;
    }
      .MenuBtn{
          display: block;
          transition: 0.6s;
          cursor: pointer;
      }
      .LandNav{
          display: none;
      }
      .PortNav{
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 0px;
          left: -100%;
          width: 100%;
          height: 100vh;
          background: rgb(0, 0, 0,1);
          text-align: left;
          backdrop-filter: blur(10px);
          transition:All 0.5s cubic-bezier(0.86,0,0.07,1);
          border-radius: 10px;
          padding-top: 5px;
          z-index: 999999;
          border-right: 2px solid #222;
      }
      .PortNav .logo{
        padding: 5%;
       
      }
      #navLinks .PortNav li{
          margin: 10px 20px;
          padding: 20px 15px;
          border-radius: 5px;
          transition: 0.6s;
          cursor: pointer;
          background-image: linear-gradient(90deg, #f1e90c, rgb(18, 221, 190));
      }
     
      #navLinks .PortNav li a{
        padding: 10px 50% 10px 0 ;
        font-size: 30px;
        line-height: 1;
        color: #000;
        font-weight: 600;
        text-shadow: none;
      }
      .PortNav .nav-con-icon {
        position: absolute;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
      }
      .PortNav .nav-con-icon a{
        color: #fff;
        font-size: 35px;
        margin:0 10px;
      }
      .PortNav .nav-con-icon a:hover{
        color: hsl(0 0% 100%/0.2);
      background-clip: text;
      background-image: linear-gradient(90deg, #f1e90c, rgb(18, 221, 190));
      background-repeat: no-repeat;
      background-size: 100% 100%;
      }
      #navLinks ul li a::after{
          display: none;
      }
      #navLinks .PortNav li:hover{
          background-image: linear-gradient(to right,rgb(18, 221, 190), var(--GS-2ndClr));
      }
      #navLinks .PortNav li:hover a{
          color: #031b0e;
          font-weight: 600;
      }
      #nav_check{
        cursor: pointer;
      }
      #nav_check:checked ~ #navLinks .PortNav {
          left: 0px;
          z-index: 9999999;
      }
      #nav_check:checked ~ .MenuBtn .line-1{
          transform: rotate(45deg) translateY(4px);
          cursor: pointer;
      }
      #nav_check:checked ~ .MenuBtn .line-2{
        transform: rotate(-45deg) translateY(-4px);
        cursor: pointer;
      }
    #nav_check:checked ~ .MenuBtn .line-3{
        transform: translateY(-10px);
        opacity: 0;
        cursor: pointer;
      }
      .line-1, .line-2, .line-3{
        width: 20px;height: 3px;
        background: #fff;
        margin-bottom: 3px;
        transition: all 0.5s cubic-bezier(0.86,0,0.07,1);
      }

  }
  
  @media (max-width:360px){
    .PortNav{
      left: -280px;
      width: 280px;
    }
  }
/* ------------------------- Welcome --------------------------------    */

@media (max-width:800px){
    .welcome{
      height: 100vh;
    }
      
      .welcome_msg h1{
          font-size: 60px;
      }
      .welcome_msg p{
          font-size: 15px;
      }
      .welcome_msg p span{
        animation-range-start: cover 21vh;
        animation-range-end: contain 10vh;
    }
  }
  @media (max-width:375px){
    .welcome_msg{
      top: 50%;
    }
    .welcome_msg h1{
      font-size: 50px;
      line-height: 150%;
    }
    .welcome_msg p{
      font-size: 12px;
    }
  }
/* ======================== our content===========================  */

  @media (max-width:800px){
    .our_content{
      margin-left: 0;
      padding: 50px 30px ;
      height:auto; width: 100%;
      max-width: 100%;
      text-align: left;
      
    }
    .our_content h1{
      font-size: 50px;
      line-height: 50px;
      margin-bottom: 20px;
    }
    .our_content p{
      line-height: 20px;
      font-size: 15px;
      margin: 0;
      width: 100%;
      
    }
  }
/* =============================== COnten box=======================  */
  @media screen and (max-width:720px){
    .content_box{
      width: 90%;
      height: 50vh;
      margin-bottom: 50px;
    }
    .content_inner,.content_inner2{
      width: 100%;
      position: absolute;
      height: 70%;
      overflow: hidden;
      padding: 30px;
      right: 0;left: 0;top: 0;
      z-index: 10;
    }
    .content_box h1{
      font-size: 40px;
      margin-bottom: 20px;
    }
    .cont-img, .cont-img2{
      background-position: 50% 50%;
      width: 70%;
    }
    .cont-img{
      background-image:linear-gradient(to right, rgb(1,1,1,0.5), #111),url(../img/Osho-content-bg.jpg);
      top: 0;left: 0;
    }
    .cont-img2{
      background-image: linear-gradient(to right, #111, rgb(1,1,1,0.5)), url(../img/Book-self.jpeg);
      top: 0;right: 0;
      background-position: 0% 0%;
    }
    .content-btn{
      bottom: 30px;
      right: 30px;
    }
    .content-btn2{
      bottom: 30px;
      left: 30px;
    }
  }

  /* ================================== Footer ================================  */
  @media screen and (max-width:1120px) {
    .thankyou h1{
      font-size: 90px;
      line-height: 75px;
    }
  }
  @media (max-width:960px){
    footer{
      flex-direction: column;
      padding: 30px;
      height: 100vh;
      justify-content: flex-start;
      border-radius: 30px 0 30px 0;
      gap: 0;
    }
    .thankyou {
      margin-bottom: 50px;
    }
    .thankyou h1{
      font-size: 50px;
      line-height: 40px;
    }
    .thankyou div{
      width: 50px;
      margin-right: 10px;
    }
    .ft-contact p{
      line-height: 150%;
      font-size: 12px;
    }
  }
  @media (max-width:360px){
    footer{
      padding: 30px;
      gap: 0px;
    }
    .ft-contact p{
      font-size: 12px;
    }
  }

  /* ========================= Music =====================  */
  
@media (max-width:800px) {
    .music-page-container{
      width: 100%;
    }
    .musicControl .bar{
      flex: 1;
    }
  }

  /* ========================= osho header ===========================  */

  @media (max-width:720px){
    .osho-discription{
      bottom: 10%;
      right: 10%;
      height: 40%;
    }
    .osho-discription h1{
      font-size: 60px;
    }
    .osho-discription p{
        font-size: 12px;
    }
  }

  /* =================================== contact page ========================  */

  @media (max-width:720px){
    .contact_header{
      height:100%;
    }
    .contact_header h1{
      font-size: 50px;
    }
    .contact_box {
      padding: 0 20px;
    }
    .contact_box_inner{
      padding: 50px;
      /* margin: 0 20px; */
      }
    .contact_box p{
      margin-left: 50px;
      padding: 50px 0;
    }
  }

  /* ==================================== about page ================================  */

  @media (max-width:767px){
    .experties {
      padding: 0 10% 10%;
      margin-top: 50px;
    }
    .my_name{
      padding: 10%;
    }
    .about-me-title h1{
      font-size: 50px;
      line-height: 100%;
      margin-bottom: 20px;
    }
    .abt-row{
      flex-direction: column;
      height: 600px;
    }
    .row-cont-1,.row-cont-2{
      flex-basis: 50%;
      height: 50%;
    }
    .row-cont-2 img{
      filter: grayscale(0);
    }
    .row-cont-1 p{
      width: 100%;
      line-height: 140%;
      font-size: 13px;
    }
    .exp-row{
      flex-direction: column;
      gap: 0;
    }
    .area-1 h3{
      display: none;
    }
    .area-1 .input{
      margin-bottom: 20px;
    }
    .team-row{
      gap: 20px;
    }
    .team-1 div h2{
      font-size: 15px;
    }
    .team-1 div{
      height: 100px;
      background-image: linear-gradient(transparent,#000);
    }
    .team-1 div p{
      font-size: 12px;
      width: 100%;
    }
  }

  /* ==================================== article page ================  */

  @media (max-width:720px) {
    .article-container{
      width: 80%;
      padding: 50px 0;
    }  
    .article-container img{
      width: 100%;
    }
    .article-title h1{
      font-size: 70px;
    }
    .article-title p{
      font-size: 18px;
    }
   .article-container .article-subtitle{
      font-size: 15px;
    }
    .article-writing .img-1{
      margin: 0;
      margin-block:20px ;
      width: 100%;
    }
  }

  /* ====================================== blog page =====================  */
  @media (max-width:767px){
    .sub-header-blog{
      height: 10%;
      background: #000;
    }
    .blog-header-title h1{
      display: none;
    }
    .blog-cont-inner{
      z-index: 1;
    }
    .blog-cont-inner{
      padding: 0px 20px 50px;
    }
    .blog-cont-inner img{
      width: 100%;
      margin: 20px 0;
    }
    .blog-cont-inner h1{
      font-size: 30px;
      margin-bottom: 20px;
    }
    .blog-date{
      margin: 20px 0;
    }
  }

  /* ====================================== Body building page =====================  */

  
@media(max-width:1450px){

  .fitness-header h1{
    font-size: 90px;
  }
  .main-container-bodybuilding{
    gap: 20px;
    max-width: 1250px;
  }
  .sec-container{
    max-width: 1250px;
  }
  .slick-slider .secitem{
    height: 400px;
    width: 200px;
  }
  .slick-slider {
    width: 800px;
    height: 400px;
  }
}

@media (max-width:1250px) {
  .fitness-header h1{
    font-size: 90px;
  }
  .main-container-bodybuilding{
    max-width: 1050px;
    padding-bottom: 100px;
  }
  .sec3{
    padding: 100px 0 0;
  }
  .sec-container{
    max-width: 1050px;
  }
  .slick-slider .secitem{
    height: 300px;
    width: 200px;
  }
  .slick-slider {
    width: 600px;
    height: 300px;
    margin-top: 50px;
  }
  .sidebar-right-content img{
    width: 100px;
    height: 70px;
  }
}

@media (max-width:1050px) {
  .fitness-header h1{
    font-size: 70px;
  }
  .main-container-bodybuilding{
    max-width: 850px;
  }
  .sec-container{
    max-width: 850px;
  }
  .sidebar-right{
    padding: 100px 0;
  }
  .sidebar-right h1{
    font-size: 15px;
  }
  .sidebar-right-content{
    width: auto;
    height: 70px;
    padding: 10px;
    transition: all 1s ease;
  }
  .sidebar-right-content:hover {
    height: auto;
  }
  .sidebar-right-content:hover > .sbr-inner h2{
    height: auto;
  }
  .sidebar-right-content img{
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  .sbr-inner h2{
    font-size: 10px;
    height: 15px;
    overflow: hidden;
    transition: all 1s ease;
  }
  .slick-slider .slick-prev::before,
  .slick-slider .slick-next::before {
    background-size: 15px;
    width: 30px;height: 30px;
  }
  .slick-slider .slick-prev{
    left: -20px;
    right: inherit;
  }
  .slick-slider .slick-next{
    right: -10px;
    left: inherit;
  }
}

@media (max-width:850px){
  .main-container-bodybuilding{
    max-width: 600px;
    gap: 10px;
  }
  .sec-container{
    max-width: 600px;
  }
  .slick-slider .secitem{
    height: 300px;
    width: 150px;
  }
  .slick-slider {
    width: 400px;
    height: 300px;
    margin-top: 50px;
  }
  .sidebar-right h1{
    font-size: 12px;
  }
  .sidebar-right-content{
    flex-direction: column;
    height: auto;
    gap: 10px;
    position: relative;
    height: 70px;
  }
  .sidebar-right-content img{
    width: 100%;
    position: absolute;
    top: 0;left: 0;
    width: 100%;height: 100%;
    opacity: 0.1;
  }
  .sbr-inner{
    z-index: 1;
    filter: drop-shadow(0 0 5px #000);
  }
  .sbr-inner p{
    color: #919191;
  }
}

@media (max-width:600px) {
  .fitness-header h1{
    font-size: 40px;
  }
  .main-container-bodybuilding{
    flex-direction: column-reverse;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .slick-slider .secitem{
    height: 400px;
    width: 150px;
  }
  .slick-slider {
    width: 300px;
    height: 400px;
    margin-top: 50px;
    margin-inline: auto;
  }
  .sidebar-right{
    margin: 0 30px;
    padding-bottom: 0;
    padding-top: 50px;
  }
  .sidebar-right h1{
    font-size: 20px;
  }
  .sidebar-right-content{
    flex-direction: row;
    padding: 15px;
    gap: 0;
    height: 90px;
  }
  .sidebar-right-content img{
    position: relative;
    width: 100px;
    height: 100%;
    opacity: 1;
    
  }
  .sbr-inner h2{
    height: auto;
    font-size: 12px;
  }

}

@media (max-width:360px){
  .fitness-header{
    height: 100vh;
  }
  .fitness-header h1{
    font-size: 40px;
  }
}

/* ================================== movie cont ===================================  */

@media (max-width:800px){
  .movie_container{
    padding-block: 30px ;
  }
  .movie_cont .search_bar{
    padding: 20px;
  }
  .search_bar input{
    width: 100%;
  }
}
@media (max-width:520px){
  #movie_list{
    gap: 15px;
    padding: 10px;
  }
  .movie_card{
    width: 155px;
  }
  .movie_card img{
    height: 250px;
  }
}

@media (max-width:676px){
  .movie_container h1{
    font-size: 30px;
    padding: 0 20px;
    width: 80%;
  }
  .mov_item{
    width: 100px;
    height: 150px;
    bottom: 230px;
    border-radius:10px;
    transition: 0.5s;
   } 
  .mov_item:nth-child(3){
  left: 30%;
  transform: translate(-50%,90%);
}
.mov_item:nth-child(4){
  left: calc(30% + 118px);
  transform: translate(-50%,90%);
}
.mov_item:nth-child(5){
  left: calc(30% + 236px);
  transform: translate(-50%,90%);
}
.mov_item:nth-child(n+6){
  left: calc(30% + 354px);
  transform: translate(-50%,90%);
  opacity: 0;
}
  .buttons{
    left: 50%;
    transform: translate(-50%,0);
    bottom: 30px;
  }
  .mov_item .content{
  position: absolute;
  top: 40%;
  left: 10%;
  text-align: left;
  width: 300px;
  color: #fff;
  transform:translate(50%,50%);
  display: none;
  padding: 20px ;
  text-shadow: 0 5px 5px rgb(0,0,0,0.2);
  animation: showcontent1 1s ease-in-out 1 forwards;
  border-radius:15px;
}
.mov_item .content .details{
  /* background-image: linear-gradient(to top,#111, transparent); */
  backdrop-filter: blur(15px);
}
.details h1{
  font-size: 50px;
}
}
@media (max-width:450px){
  .mov_item:nth-child(3){
  left: 22%;
  transform: translate(-50%,90%);
}
.mov_item:nth-child(4){
  left: calc(22% + 118px);
  transform: translate(-50%,90%);
}
.mov_item:nth-child(5){
  left: calc(22% + 236px);
  transform: translate(-50%,90%);
}
.mov_item:nth-child(n+6){
  left: calc(22% + 354px);
  transform: translate(-50%,90%);
  opacity: 0;
}
.mov_item .content{
  left: 5%;
  top: 50%;
}
.mov_item .content .details{
  width: 120%;
}
.mov_item .content .details .info{
  font-size: 12px;
}
}
@media (max-width:365px){
  .movie_cont .search_bar input{
    width: 100%;
  }
  .movie_container{
    padding-top: 0px;
  }
  .movie_container h1{
    font-size: 20px;
  }
}

/* ================================================ movie details Page ================  */
@media (max-width:780px){
  .movieDetailsInfo{
    display: flex;
    max-width:780px ;
    padding: 100px 50px;
    color: #fff;
    margin-inline: auto ;
    font-family: 'poppins';
  }
  .movie-1-header{
    flex-direction: column;
    justify-content: center;
  }
  /* .m1h-left, .m1h-right{
    border: 2px solid orange;
  } */
  .m1h-right{
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
    text-align: left;
  }
  .m1h-right h6{
    margin-left: 10px;
  }
}
@media (max-width:540px){
  .movieBanner1{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .movieBanner1::before{
    background-image: linear-gradient(to bottom, rgb(0 0 0/ 0.5) 0%, rgb(0 0 0/ 1) 101%);
    backdrop-filter: blur(5px);
  }
  .movie-1-header{
    flex-direction: column;
    height: 70vh;
    justify-content: flex-end;
    width: 80%;
    padding: 0;  
  }
  .movieProps{
    font-size: 50px;
  }
  .m1h-left{
    flex-basis: 20%;
  }
  .m1h-right{
    justify-content:center;
    align-items: flex-start;
    padding-top: 30px;
  }
  .m1h-right h6{
    text-align: left;
    margin-left: 10px;
    margin-bottom: 50px;
  }
  .m1h-right div:nth-child(2) i{
    font-size: 50px;
  }
  .movieDetailsInfo{
    flex-direction: column;
    padding: 50px 30px;
  }
  .movieDetailRight{
    margin-top: 30px;
  }
  .storyLine{
    width: 100%;
    margin-left: 0%;
  }
  .story_video{
    padding: 20px 0;
  }
  .story_video iframe{
    width: 100%;
    aspect-ratio: 19/15;
  }
  .cast-list h5 i{
    display: inline-block;
  }
  #movieNameAgain{
    margin-top: 30px;
  }
  #movieShareIcon{
    display: none;
  }
  .movieBackBtn{
    display: flex;
  }

}